<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Magento_Reports::report_cronexport" title="Cron Export" module="Origines_CronExport" sortOrder="30" parent="Magento_Reports::report" resource="Origines_CronExport::parent"/>
		<add id="Magento_Reports::report_cronexport_index" title="exports" module="Origines_CronExport" sortOrder="20" parent="Magento_Reports::report_cronexport" action="cronexport/index" resource="Magento_Reports::exports"/>
    </menu>
</config>