<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Origines_UrlCleaner::urlcleaner" title="URL Cleaner" module="Origines_UrlCleaner" sortOrder="70" parent="Magento_Backend::marketing_seo" action="urlcleaner/urlcleaner" resource="Magento_Backend::content"
        />
    </menu>
</config>
